<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="fm.a2d.sf"
    android:versionCode="101"
    android:versionName="3.0" >

  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="21" />

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.WRITE_SETTINGS" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />


<!-- android:clearTaskOnLaunch="true" -->

<!-- App drawer name for all unless locally over-ridden -->
  <application
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/application_name"
      android:launchMode="singleInstance"
      android:theme="@android:style/Theme.DeviceDefault" >
    <activity
        android:name="fm.a2d.sf.MainActivity"
        android:launchMode="singleInstance"
        android:screenOrientation="portrait" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!-- ! Need separate process or get fg/bg problems !!! -->
    <service
        android:name="fm.a2d.sf.MainService"
        android:process=":s"
        android:label="Spirit2 Free FM Service"
        android:enabled="true"
        android:exported="true">
      <intent-filter>
        <action android:name="fm.a2d.sf.action.set" />
      </intent-filter>
    </service>

    <receiver android:name="fm.a2d.sf.ServiceMediaReceiver">
      <intent-filter>
        <action android:name="android.intent.action.PHONE_STATE"/>
        <action android:name="android.intent.action.MEDIA_BUTTON" />
        <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
